.button-01 {
    button {
        color: #F4B41B;
        font-weight: 600;
        font-size: 16.625px;
        line-height: 14px;
        padding: 12px 22px;
        background: #FFF2D5;
        border: none;
        border-radius: 7.125px;
    }
}

.button-02 {
    button {
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
        color: #FFFFFF;
        background: #FFC12F;
        box-shadow: 0px 15px 40px rgba(249, 213, 128, 0.25);
        border-radius: 48px;
        border: none;
        padding: 15px 20px;
    }
}

.button-03 {
    button {
        color: #FFFFFF;
        background: #FCC647;
        border-radius: 6px;
        font-weight: 600;
        font-size: 16px;
        line-height: 12px;
        padding: 16px 19px;
        border: none;
    }
}